extends ../layout/index
block styles 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
block content 
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-reislin-black Real
            span.font-medium.text-majorelle-blue Estate 
        h2.text-center.text-2xl.font-extrabold.text-reislin-black= page

    div.bg-white.shadow-xl.py-8.px-4.rounded.mx-auto.rounded.mx-auto.max-w-4xl.my-10.space-y-8(class="md:px-10")
        form#imageBox(name="imageBox" action=`/bienes-raices/properties/create/loadImage/${id}` method="POST" class="dropzone space-y-8 border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" ) 
        button#postImage(class="w-full py-3 px-3 bg-reislin-black hover:bg-majorelle-blue hover:scale-205 text-white rounded uppercase font-bold cursor-pointer text-center" type="button") Publish property

block scripts 
    script(src="/js/imageBox.js") 