doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Real State | #{page}
    link(rel="stylesheet" href="/css/app.css", type="text/css")
    block styles
  body.min-h-screen.bg-alice-blue
    if showHeader
      include nav-bar
    main(class="mx-auto container mt-10 px-2")
      block content 
    block scripts 
    