header(class="bg-indigo-600 p-4")
    div(class="container flex mx-auto justify-between items-center")
        h1(class="text-red-700 font-extrabold text-center text-2xl ") Real
            span(class="font-normal text-white") Estate 
        nav(class="flex gap-3 my-5 text-sm md:flex md:items-center font-bold text-white")
            a(href="#" class="bg-indigo-800 py-2 px-10 rounded-full hover:bg-red-700 hover:scale-105 shadow-lg shadow-gray-600/80 active:scale-95") Properties
            a(href="#" class="bg-indigo-800 py-2 px-10 rounded-full hover:bg-red-700 hover:scale-105 shadow-lg shadow-gray-600/80 active:scale-95") Profile
            a(href="#" class="bg-indigo-800 py-2 px-10 rounded-full hover:bg-red-700 hover:scale-105 shadow-lg shadow-gray-600/80 active:scale-95") Logout