extends ../layout/index

block content
    div(class="py-10") 
        h1(class="text-4xl my-10 font-extrabold text-center") Real
            span(class="font-medium text-majorelle-blue") Estate
        h2(class="text-center text-2xl font-extrabold mb-10")= page
        div(class="flex w-full justify-evenly") 
            a(href="/bienes-raices/properties/create" class="rounded-lg py-2 px-10 bg-majorelle-blue text-white text-center uppercase my-5 hover:bg-red-700  hover:scale-105 text-sm font-bold inline-block md:w-auto" ) Publish Property
            a(href="/bienes-raices/properties/find" class="rounded-lg py-2 px-10 bg-english-violet text-white text-center uppercase my-5 hover:bg-red-700  hover:scale-105 text-sm font-bold inline-block md:w-auto" ) Edit Property