extends ../layout/index

block content
    div(class="py-10") 
        h1(class="text-4xl my-10 font-extrabold text-center") Real
            span(class="font-medium text-majorelle-blue") Estate
        h2(class="text-center text-2xl font-extrabold mb-10")= page
        a(href="properties/create" class="rounded-lg py-2 px-10 bg-indigo-600 text-white text-center uppercase my-5 hover:bg-red-700  hover:scale-105 text-sm font-bold inline-block md:w-auto" ) Publish Property