extends ../layout/index

block content
  div.py-10
    h1.text-center.text-4xl.font-extrabold.my-3.text-majorelle-blue Real
      span.font-bold.text-reislin-black State

  .mt-8.mx-auto.max-w-md
    .bg-mint-cream.py-8.px-4.shadow-xl.rounded-3xl
      h2.text-center.text-3xl.font-extrabold.mb-9= page
      form(action=`/bienes-raices/users/login/update-password/${tokenPassword}` method="post" ).flex.items-center.flex-col.justify-center.gap-5
        div.w-full
          label.block.text-sm.text-caput-mortuum.mb-2.font-bold(for="newPassword") New Password
          input#newPassword.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-old-gold.mb-2(placeholder="user@alegon.com" class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" type="password" name="newPassword")
          label.block.text-sm.text-caput-mortuum.mb-2.font-bold(for="confirmPassword") Confirm Password
          input#confirmPassword.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-old-gold.mb-2(placeholder="user@alegon.com" class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" type="password" name="confirmPassword")


        div.flex.items-center.justify-between.w-full
          a.text-xs.font-medium(href="/bienes-raices/users/login/register" class="hover:underline decoration-2 hover:decoration-majorelle-blue hover:scale-[1.03]") Don't have an account? 
            span.text-majorelle-blue Register
          a.text-xs.font-medium(href="/bienes-raices/" class="hover:underline decoration-2 hover:decoration-majorelle-blue hover:scale-[1.03]") Hav an account? 
            span.text-majorelle-blue Log In

        button(class="w-[50%] bg-reislin-black text-white font-bold p-2 cursor-pointer rounded-xl ease-in-out transition-all hover:scale-[1.05] hover:bg-english-violet/90 hover:bg-majorelle-blue active:scale-[0.95]" type="submit" value="Send") Send